.row {
    display: flex;
    flex-direction: row;

    &.reverse {
        flex-direction: row-reverse;
    }
}

.col {
    display: flex;
    flex-direction: column;

    &.reverse {
        flex-direction: column-reverse;
    }
}

.center {
    align-items: center;
    justify-content: center;
}

.self-right {
    align-self: flex-end;
}