@mixin honeydew {
    background: #43C6AC;
    background: -webkit-linear-gradient(top, #F8FFAE, #43C6AC);
    background: linear-gradient(top, #F8FFAE, #43C6AC);
}

@mixin form-max-width {
    max-width: 500px;
}