@import "../../stock/kiwiworks/_kiwiworks";

html, body {
    height: 100%;
}

.container {
    padding: 0 10px;
    overflow-y: scroll;

    @include honeydew;
}

.full {
    height: 100%;
}

h1 {
    color: $light;
}