@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');
@import "bootstrap.min.css";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-size: 14px;
}

/* general */
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	margin: 0 !important;
	color: #FD1254;
}

a {
	color: #FD1254;
}

.grey {
	background-color: #f9f9f9;
}


p {
	margin-top: 15px;
	line-height: 1.6;
}

/* main */

.mid {
	margin-top: 200px;
}

#response {
	display:none;
	background-color: #FD1254;
	color: white;
	padding: 10px;
}

/* forms */
input, label {
	font-weight: 300;
	font-size: 15px;
	display: block;
	width: 100%;
	margin: 15px 0;
}

.padd {
	padding: 20px;
}

label {
	color: #FD1254;
	font-weight: 400;
}

input {
	font-family: "Ubuntu", sans-serif;
	padding: 10px;
	background-color: #fff;
	border: none;
	outline: none;
	border-left: 5px solid #ddd;
}

input[type="submit"] {
	width: 50%;
	color: #FD1254;
	font-size: 20px;
	margin: 0 auto;
	border-left: 0;
	border-bottom: 5px solid #ddd;
}