.form-holder {
    @include form-max-width;

    label {
        font-size: 14px;
        display: block;
        font-weight: 600;

        &.inline {
            display: inline-block;
        }
    }

    input {
        border: none;
        padding: 10px;
        border-radius: 4px;
        margin: 10px 0;
        opacity: 0.9;
        color: $dark;
        outline: 0;
        font-family: inherit;
        font-size: 14px;

        &[type="submit"] {
            width: auto;
            display: inline-block;
        }
    }

    textarea {}
}